.home-section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-image: url('/src/assets/background.jpg');
}

.container-card {
    width: 50%;
}

.corner-card {
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(   2.5px);
}

.column-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 100%;
}

.container-block {
    display: flex;
    flex-direction: column;
    color: white;
    font-family: 'Poppins';
    overflow: auto;
}

h5 {
    font-weight: bolder;
    font-size: 22pt;
}

article {
    font-weight: normal;
    font-size: 12pt;
}

.ppdb-btn {
    text-align: center;
    width: 80px;
    background-color: transparent;
    display: flex;
    float: left;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    border: 2px solid white;
    padding: 10px 30px;
    margin: 5px 0;
    font-size: medium;
}

.ppdb-btn:hover{
    backdrop-filter: blur(2.5px);
}

.ppdb-btn a {
    color: #fff;
    text-decoration: none;
}

@media screen and (min-width: 200px) and (max-width: 700px) {
    h1 {
        font-weight: bold;
    }
    
    h5 {
        font-weight: bolder;
        font-size: 18pt;
    }
    
    article {
        font-size: 12pt;
    }

    .container-card {
        width: 100%;
        scale: 90%;
    }

    .corner-card {
        backdrop-filter: blur(1.5px);
    }
    
    .column-card {
        flex-direction: column;
    }
    
    
    .ppdb-btn {
        text-align: center;
        width: 100%;
        background-color: transparent;
        display: flex;
        float: left;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
        border: 2px solid white;
        padding: 10px 30px;
        margin: 5px 0;
        font-size: medium;
    }
}
@media screen and (min-width: 700px) and (max-width: 900px) {
    h1 {
        font-weight: bold;
    }
    
    h5 {
        font-weight: bolder;
        font-size: 18pt;
    }
    
    article {
        font-size: 12pt;
    }

    .container-card {
        width: 60%;
        scale: 90%;
    }

    .iconHome {
        scale: 130%;
    }

    .corner-card {
        backdrop-filter: blur(1.5px);
    }
    
    .column-card {
        flex-direction: column;
    }
    
    
    .ppdb-btn {
        text-align: center;
        width: 100%;
        background-color: transparent;
        display: flex;
        float: left;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
        border: 2px solid white;
        padding: 10px 30px;
        margin: 5px 0;
        font-size: medium;
    }
}

