.contact-section {
    display: flex;
    flex-direction: column;
    height: fit-content;
    border-radius: 0 0 50px 50px;
}

.Title{
    align-items: center;
    align-content: center;
    color: black;
    text-align: center;
}


.container-contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10vh;
    align-items: center;
    
}

.container-map {
    background-color: white;
    box-shadow: 0 4px 12px -2px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    padding: 32px;
}

.container-information {
    background-color: white;
    box-shadow: 0 4px 12px -2px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    padding: 16px;
    width: 55vh;
    scale: 90%;
}

.icon-contacts{
    display: flex;
    flex-direction: row;
    color: black;
    align-items: center;
}
.contact {
    display: flex;
    margin-right: 20px;
    align-items: center;
    font-weight: lighter;
}
.contact .object-1{
    display: inline-block;
    margin-right: 10px;
    padding-bottom: 0px;
}
.contact .object-2{
    display: inline-block;
    font-weight: 400;
    align-items: center;
    font-size: 13pt;
}
iframe{
    width: 110vh;
    height: 70vh;
    border-radius: 10px;
}

.container-input {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding: 1em;
}

.Pesan{
    color: black;
    text-align: center;
}
.input-contact {
    width: 100%;
    padding: 0.5em;
    background-color: white;
    color: black;
    border: 2px solid #ccc;
    border-radius: 3px;
    font-size: 12pt;
    transition: 0.2s;
    outline: none;
}

textarea{
    border: 2px solid #ccc;
    padding: 0.5em;
    width: 100%;
    background-color: white;
    color: black;
    height: 10vh;
    resize: none;
    border-radius: 2px;
    font-size: 12pt;
    transition: 0.2s;
    outline: none;
}

.input-contact:focus {
    border: 2px solid #0b698b;
}

textarea:focus {
    border: 2px solid #0b698b;
}



.btn-submit{
    background-color: #0b698b;
    color: #fff;
    width: 100%;
    border: 0;
    height: 40px;
    text-align: center;
    font-size: 12pt;
    cursor: pointer;
}
@media screen and (max-width:900px) {
    

iframe{
        width: 600px;
        height: 350px;
        border-radius: 10px;
    }
    .icon-contacts{
        display: flex;
        flex-direction: column;
        color: black;
        align-items: start;
    }
    textarea{
        width: 650px;
        padding: 10px;
        background-color: #f0fbfd;
        border-radius: 2px;
        font-size: 12pt;
    }
    input{
        display: inline-block;
        width: 290px;
        height: 30px;
        column-gap: 200px;
        background-color: #f0fbfd;
        border-width: 0.1px;
        margin-bottom: 10px;
        border-radius: 2px;
        font-size: 12pt;
    }
    .input-1{
        margin-right: 20px;
    }
}

@media screen and (max-width: 600px) {
        iframe{
        width: 400px;
        height: 350px;
        border-radius: 10px;}
        input{
        display: flex;
        flex-direction: column;
        align-content: center;
        width: 400px;
        height: 30px;
        padding: 10px;
        background-color: #f0fbfd;
        border-width: 0.1px;
        margin-bottom: 10px;
        border-radius: 2px;
        font-size: 12pt;
    }
    textarea{
        max-width: 500px;
        width: 400px;
        background-color: #f0fbfd;
        border-radius: 2px;
        font-size: 12pt;
    }
    .Title h1{
        padding-top: 20px;
        font-size: 20pt;
    }
    .Title h3{
        font-size: 15pt;
        font-weight: 500;
    }
    .button-kirim input{
        background-color: #0b698b;
        color: #fff;
        width: 200px;
        height: 40px;
        text-align: center;
        font-size: 12pt;
    }
}