.user-section {
    display: flex;
    flex-direction: row;
    background-color: white;
    box-shadow: 0 4px 12px -2px rgba(0, 0, 0, 0.3);
    padding: 1.5em 1em;
    border-radius: 1em;
}

.profil-user {
    display: flex;
    flex-direction: column;
    /* gap: 5; */
    align-items: center;
    justify-content: center;
    color: #09A3BE;
}

.foto {
    width: 190px;
    height: 190px;
    border-radius: 50%;
    scale: 100%;
    object-fit: cover;
    object-position: 100% 45%;
}

.foto-setting {
    /* scale: 50%; */
}

.nama {
    font-size: 10pt;
}
