
* {
    box-sizing: border-box;
    margin: 0;
}

.component {
    width: 100%;
    background-color: #F0FBFD;
}
.nav {
    width: 100%;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.150);
    gap: 2rem;
    padding: 2rem;
    position: fixed;
    transition: all ease 200ms;
    z-index: 1;
}

.nav-active {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    padding: 0.5rem;
    position: fixed;
    background-color: white;
    color: #09A3BE;
    transition: all ease 200ms;
    z-index: 1;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
}

.dropDownNavBar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all ease 200ms;
}


.nav ul {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
    list-style: none;
    font-weight: bolder;
}
.nav-active ul {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
    list-style: none;
    font-weight: bolder;
}

#BsList {
    display: none;
}

.title-inline {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.title {
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
}

.nav-active .title {
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    color: #09A3BE;
}

a {
    text-decoration: none;
}

.nav ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 10px; */
    height: fit-content;
    cursor: pointer;
    transition: all ease 200ms;
}
.nav-active ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 10px; */
    height: fit-content;
    cursor: pointer;
    transition: all ease 200ms;
}

.link-item {
    padding: 10px;
}

.nav-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
}
.nav-active .nav-item {
    display: flex;
    align-items: center;
    gap: 0.5em;
}


.nav ul li:hover {
    background-color: #0B698b;
    color: white;
    border-radius: 0.2em;
}
.nav-active ul li:hover {
    background-color: #0B698b;
    color: white;
    border-radius: 0.2em;
}

.btnClose {
    display: none;
}

footer {
    display: block;
    width: 100%;
}

.container-footer {
    width: 100%;
    height: fit-content;
    background-color: #09A3BE;
    color: white;
    padding: 1em;
}

.row-card-detail {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.col-1 {
    display: flex;
    flex-direction: column;
    width: fit-content;
    text-align: center;
    align-items: center;
    justify-content: center;
    vertical-align: top;
}

.col-2 > .list-1 {
    display: block;
    list-style: decimal;
    list-style-position: outside;
    text-align: left;
}

.col-3 > .list-2 {
    display: block;
    list-style: decimal;
    list-style-position: outside;
    text-align: left;
}
.col-2 > .list-1 ul{
    list-style-position: outside;
}

.col-3 .list-2 li{
    display: flex;
    flex-direction: row;
    align-items: first baseline;
    flex-direction: row;
    align-self: baseline;
    padding: 0px;
}

.col-4 .list-3 li{
    display: flex;
    flex-direction: row;
    align-items: first baseline;
    flex-direction: row;
    align-self: baseline;
    padding: 0px;
}



.label-copyright {
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: #0B698b;
    color: white;
    text-align: center;
    padding: 10px 0px;
}

.col-2 .list-1 li a{
    padding-left: 20px;
    font-size: 12pt;
    list-style-position: outside;
}

.col-3 .list-2 li a{
    padding-left: 20px;
    text-align: center;
    font-size: 12pt;
}

.col-4 .list-3 li a{
    padding-left: 20px;
    font-size: 12pt;
}

.bg-item {
    width: 100%;
    background-color: #09A3BE;
}

@media screen and (min-width: 200px) and (max-width: 900px) {
    /* Navbar */
    .nav {
        display: block;
        height: fit-content;
        color: white;
        padding: 0.5rem;
        transition: all ease 500ms;
    }
    
    .nav-active {
        display: block;
        height: fit-content;
        color: #09A3BE;
        align-items: center;
        justify-content: center;
        background-color: white;
        padding: 0.5rem;
        transition: all ease 500ms;
        
    }

    #iconTut {
        display: none;
    }


    .dropDownNavBar #BsList {
        display: flex;
        scale: 200%;
        cursor: pointer;
        background-color: #09A3BE;
        color: #F0FBFD;
        padding: 0.5px;
        border-radius: 2px;
        transition: all ease 200ms;
    }

    .dropDownNavBar-active #BsList {
        display: flex;
        scale: 170%;
        cursor: pointer;
        background-color: #09A3BE;
        color: #F0FBFD;
        padding: 1.5px;
        border-radius: 2px;
        transform: rotate(90deg);
        transition: all ease 200ms;
    }

    .dropDownNavBar {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
        transition: all ease 200ms;
        
    }

    .span-title {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
    }

    .nav .dropDownNavBar ul {
        display: none;
        transition: all ease 200ms;
    }
    .nav-active .dropDownNavBar ul {
        display: none;
        transition: all ease 200ms;
    }

    .nav .dropDownNavBar-active ul {
        margin-top: 1em;
        display: flex;
        flex-direction: column;
        transition: all ease 200ms;
        background-color: white;
        color: #09A3BE;
        border-radius: 1.5em;
        padding: 1em;

    }
    .nav-active .dropDownNavBar-active ul {
        display: flex;
        flex-direction: column;
        transition: all ease 200ms;
        padding: 1em;
    }
    
    .nav .dropDownNavBar-active ul li .link-item {
        width: 100%;
    }
    
    .nav-active .dropDownNavBar-active ul li .link-item {
        width: 100%;
    }

    .nav .title {
        color: white;
    }
    
    .nav-active .title {
        color: #09A3BE;
    }

    .btnClose {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        scale: 120%;
        color: red;
    }

    .btnClose:hover {
        color: white;
    }
    /* Navbar */

    /* Footer */
    
    .row-card-detail {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: start;
        padding: 1.5em;
        gap: 1em;
    }
    
    .col-1 {
        width: fit-content;
        font-size: 10.5pt;
    }

    .col-2 {
        font-size: 9pt;
    }
    .col-3 {
        font-size: 9pt;
    }
    .col-4 {
        font-size: 9pt;
    }

    .col-2 > .list-1 > li > a {
        font-size: 9pt;
    }
    .col-3 > .list-2 > li > a {
        font-size: 9pt;
    }
    .col-4 > .list-3 > li > a {
        font-size: 9pt;
    }
    
    .BsGeoAlt {
        scale: 1.5;
    }

    .label-copyright {
        font-size: 10pt;
    }
    /* Footer */

}
@media screen and (min-width: 700px) and (max-width: 900px) {
    /* Navbar */
    .nav {
        display: block;
        height: fit-content;
        color: white;
        padding: 0.5rem;
        transition: all ease 500ms;
    }
    
    .nav-active {
        display: block;
        height: fit-content;
        color: #09A3BE;
        align-items: center;
        justify-content: center;
        background-color: white;
        padding: 0.5rem;
        transition: all ease 500ms;
        
    }

    #iconTut {
        display: none;
    }


    .dropDownNavBar #BsList {
        display: flex;
        scale: 200%;
        cursor: pointer;
        background-color: #09A3BE;
        color: #F0FBFD;
        padding: 0.5px;
        border-radius: 2px;
        transition: all ease 200ms;
    }

    .dropDownNavBar-active #BsList {
        display: flex;
        scale: 170%;
        cursor: pointer;
        background-color: #09A3BE;
        color: #F0FBFD;
        padding: 1.5px;
        border-radius: 2px;
        transform: rotate(90deg);
        transition: all ease 200ms;
    }

    .dropDownNavBar {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
        transition: all ease 200ms;
        
    }

    .span-title {
        display: flex;
        align-items: center;
        gap: 1em;
        justify-content: center;
        width: 100%;
    }

    .nav .dropDownNavBar ul {
        display: none;
        transition: all ease 200ms;
    }
    .nav-active .dropDownNavBar ul {
        display: none;
        transition: all ease 200ms;
    }

    .nav .dropDownNavBar-active ul {
        margin-top: 1em;
        display: flex;
        flex-direction: column;
        transition: all ease 200ms;
        background-color: white;
        color: #09A3BE;
        border-radius: 1.5em;
        padding: 1em;

    }
    .nav-active .dropDownNavBar-active ul {
        display: flex;
        flex-direction: column;
        transition: all ease 200ms;
        padding: 1em;
    }
    
    .nav .dropDownNavBar-active ul li .link-item {
        width: 100%;
    }
    
    .nav-active .dropDownNavBar-active ul li .link-item {
        width: 100%;
    }

    .nav .title {
        color: white;
    }
    
    .nav-active .title {
        color: #09A3BE;
    }

    .btnClose {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        scale: 120%;
        color: red;
    }

    .btnClose:hover {
        color: white;
    }
    /* Navbar */

    /* Footer */
    
    .row-card-detail {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: start;
        padding: 1.5em;
        gap: 1em;
    }
    
    .col-1 {
        width: fit-content;
        font-size: 10.5pt;
    }

    .col-2 {
        font-size: 9pt;
    }
    .col-3 {
        font-size: 9pt;
    }
    .col-4 {
        font-size: 9pt;
    }

    .col-2 > .list-1 > li > a {
        font-size: 9pt;
    }
    .col-3 > .list-2 > li > a {
        font-size: 9pt;
    }
    .col-4 > .list-3 > li > a {
        font-size: 9pt;
    }
    
    .BsGeoAlt {
        scale: 1.5;
    }

    .label-copyright {
        font-size: 10pt;
    }
    /* Footer */

}
