
* {
    box-sizing: border-box;
    margin: 0;
}

.component {
    width: 100%;
    background-color: #F0FBFD;
}
.nav {
    width: 100%;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    padding: 2rem;
    position: fixed;
    transition: all ease 200ms;
}

.nav-active {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    padding: 0.5rem;
    position: fixed;
    background-color: white;
    color: #09A3BE;
    transition: all ease 200ms;
}

.nav ul {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
    list-style: none;
    font-weight: bolder;
}
.nav-active ul {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
    list-style: none;
}

.title-inline {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.title {
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
}

.nav-active .title {
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    color: #09A3BE;
}

a {
    text-decoration: none;
}

.nav ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: fit-content;
    cursor: pointer;
    transition: all ease 200ms;
}
.nav-active ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: fit-content;
    cursor: pointer;
    transition: all ease 200ms;
}

.nav-active ul li {
    display: inline-block;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: fit-content;
    cursor: pointer;
    transition: all ease 200ms;
}

.nav-item {
    display: flex;
    align-items: center;
    gap: 0.5em;
}
.nav-active .nav-item {
    display: flex;
    align-items: center;
    gap: 0.5em;
}


.nav ul li:hover {
    background-color: #0B698b;
    color: white;
    border-radius: 0.2em;
}
.nav-active ul li:hover {
    background-color: #0B698b;
    color: white;
    border-radius: 0.2em;
}

footer {
    display: block;
    width: 100%;
}

.container-footer {
    width: 100%;
    height: fit-content;
    background-color: #09A3BE;
    color: white;
}

.row-card-detail {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.col-1 {
    display: flex;
    flex-direction: column;
    width: 150px;
    text-align: center;
    align-items: center;
    justify-content: center;
    vertical-align: top;
}
.col-1 img{
    padding-top: 15px;
}

.col-2 > .list-1 {
    display: block;
    list-style: decimal;
    list-style-position: outside;
    text-align: left;
}
.col-2 > .list-1 ul{
    list-style-position: outside;
}

.col-3 .list-2 li{
    display: flex;
    flex-direction: row;
    align-items: first baseline;
    flex-direction: row;
    align-self: baseline;
    padding: 0px;
}

.col-4 .list-3 li{
    display: flex;
    flex-direction: row;
    align-items: first baseline;
    flex-direction: row;
    align-self: baseline;
    padding: 0px;
}



.label-copyright {
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: #0B698b;
    color: white;
    text-align: center;
    padding: 10px 0px;
}

.instagram {
    padding: 1px;
}

.col-2 .list-1 li a{
    padding-left: 20px;
    font-size: 15pt;
    list-style-position: outside;
}

.col-3 .list-2 li a{
    padding-left: 20px;
    text-align: center;
    font-size: 15pt;
}

.col-4 .list-3 li a{
    padding-left: 20px;
    font-size: 15pt;
}

.bg-item {
    width: 100%;
    background-color: #09A3BE;
}

@media screen and (max-width: 900px) {
    .row-card-detail {
        width: auto;
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        grid-template-rows: 2fr;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding-left: 20px;
    }
}
@media screen and (max-width: 600px) {
    .row-card-detail {
        width: auto;
        display: grid;
        grid-template-columns: repeat(1, 4fr);
        grid-template-rows: 4fr;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding-left: 20px;
    }
}