
footer {
    display: block;
    width: 100%;
}

.container-footer {
    width: 100%;
    height: fit-content;
    background-color: #09A3BE;
    color: white;
}

.row-card-detail {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.col-1 {
    display: flex;
    flex-direction: column;
    width: 150px;
    text-align: center;
    align-items: center;
    justify-content: center;
    vertical-align: top;
}
.col-1 img{
    padding-top: 15px;
}

.col-2 > .list-1 {
    display: block;
    list-style: decimal;
    list-style-position: outside;
}

.col-3 .list-2 li{
    display: flex;
    flex-direction: row;
    align-items: first baseline;
    flex-direction: row;
    align-self: baseline;
    padding: 0px;
}

.col-4 .list-3 li{
    display: flex;
    flex-direction: row;
    align-items: first baseline;
    flex-direction: row;
    align-self: baseline;
    padding: 0px;
}



.label-copyright {
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: #0B698b;
    color: white;
    text-align: center;
    padding: 10px 0px;
}

.instagram {
    padding: 1px;
}

.col-2 .list-1 li a{
    padding-left: 20px;
    text-align: center;
    font-size: 15pt;
}

.col-3 .list-2 li a{
    padding-left: 20px;
    text-align: center;
    font-size: 15pt;
}

.col-4 .list-3 li a{
    padding-left: 20px;
    text-align: center;
    font-size: 15pt;
}

@media screen and (max-width: 900px) {
    .row-card-detail {
        width: auto;
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        grid-template-rows: 2fr;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding-left: 20px;
    }
}
@media screen and (max-width: 600px) {
    .row-card-detail {
        width: auto;
        display: grid;
        grid-template-columns: repeat(1, 4fr);
        grid-template-rows: 4fr;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding-left: 20px;
    }
}